#s-b7604deb-9593-4609-8e45-76dc480e74c1 > #backgroundBox {
  position: absolute;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_4 {
  position: absolute;
  width: 282.52148008346535px;
  min-height: 97.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #8A29F5;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_3 {
  position: absolute;
  width: 261.5px;
  min-height: 97.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_2 {
  position: absolute;
  width: 429.9999999999999px;
  min-height: 49.99999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #E73CF7;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #8A29F5;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #8A29F5;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #8A29F5;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #8A29F5;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_1 {
  position: absolute;
  width: 429.9999999999999px;
  min-height: 49.99999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #8A29F5;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #8A29F5;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #8A29F5;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #8A29F5;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #8A29F5;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_1 {
  position: absolute;
  width: 20.136688232421875px;
  height: 13.991668701171875px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_2 {
  position: absolute;
  width: 24.66867446899414px;
  height: 10.214285850524902px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_3 {
  position: absolute;
  width: 32.1021728515625px;
  height: 14.75396728515625px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_4 {
  position: absolute;
  width: 22.554229736328125px;
  height: 13.875991821289062px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_5 {
  position: absolute;
  width: 12.000000953674316px;
  height: 20.951997756958008px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Ellipse_1 {
  width: 40.0px;
  height: 40.0px;
  min-height: 40.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/19c26bba-cd20-417f-9184-edfcd42be58b.jpg');
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_135 {
  position: absolute;
  width: 22.04296112060547px;
  height: 14.704151153564453px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_119 {
  position: absolute;
  width: 17.507810592651367px;
  height: 17.472919464111328px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_29 {
  position: absolute;
  width: 14.730430603027344px;
  height: 14.730440139770508px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_2 {
  position: absolute;
  width: 222.02148008346546px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arbutus Slab_16.0.0_google',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arbutus Slab_16.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arbutus Slab_16.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Input-text_8 textarea::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Input-text_8 textarea::-moz-placeholder {
  color: #AEAEB2;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Input-text_8 textarea:-moz-placeholder {
  color: #AEAEB2;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Input-text_8 textarea:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Input-text_8 {
  position: absolute;
  width: 301.99555844501776px;
  height: 35.94509197119828px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Input-text_8 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Input-text_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Input-text_8 .paddingLayer > textarea {
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_12 {
  position: absolute;
  width: 294.11865234375px;
  height: 2.0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_6 {
  position: absolute;
  width: 28.0px;
  height: 26.99129867553711px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rect_8 {
  position: absolute;
  width: 135.0px;
  height: 5.0px;
  z-index: 100;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Path_31 {
  position: absolute;
  width: 25.43899917602539px;
  height: 22.807674407958984px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_5 {
  position: absolute;
  width: 261.5px;
  min-height: 97.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_6 {
  position: absolute;
  width: 230.50000000000006px;
  min-height: 81.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_7 {
  position: absolute;
  width: 248.52148008346546px;
  min-height: 84.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #8A29F5;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_8 {
  position: absolute;
  width: 230.50000000000006px;
  min-height: 61.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_3 {
  position: absolute;
  width: 180.109375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_4 {
  position: absolute;
  width: 180.109375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_5 {
  position: absolute;
  width: 180.109375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_6 {
  position: absolute;
  width: 180.109375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_7 {
  position: absolute;
  width: 180.109375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_8 {
  position: absolute;
  width: 180.109375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_9 {
  position: absolute;
  width: 236.87499999999955px;
  min-height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_10 {
  position: absolute;
  width: 196.0000000000002px;
  min-height: 94.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_10 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_11 {
  position: absolute;
  width: 236.87499999999955px;
  min-height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_13 {
  position: absolute;
  width: 200.0px;
  min-height: 108.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_14 {
  position: absolute;
  width: 200.0px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_15 {
  position: absolute;
  width: 200.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b7604deb-9593-4609-8e45-76dc480e74c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}