#s-afe03c47-3907-48f9-a0c0-443f24945cdb > #backgroundBox {
  position: absolute;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_2 {
  position: absolute;
  width: 429.9999999999999px;
  min-height: 878.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_1 {
  position: absolute;
  width: 430.0000000000002px;
  min-height: 54.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #2E8CD6;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Path_1 {
  position: absolute;
  width: 20.136688232421875px;
  height: 13.991668701171875px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Path_2 {
  position: absolute;
  width: 24.66867446899414px;
  height: 10.214285850524902px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Path_3 {
  position: absolute;
  width: 32.1021728515625px;
  height: 14.75396728515625px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Path_4 {
  position: absolute;
  width: 22.554229736328125px;
  height: 13.875991821289062px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 input::-webkit-input-placeholder {
  color: rgba(60,60,67,0.6);
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 input::-moz-placeholder {
  color: rgba(60,60,67,0.6);
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 input:-moz-placeholder {
  color: rgba(60,60,67,0.6);
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 input:-ms-input-placeholder {
  color: rgba(60,60,67,0.6);
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 {
  position: absolute;
  width: 232.55362925606477px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 .valign {
  vertical-align: middle;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #1ADCF4;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 33px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Path_5 {
  position: absolute;
  width: 16.219697952270508px;
  height: 16.377399444580078px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Path_6 {
  position: absolute;
  width: 12.0px;
  height: 17.269668579101562px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Path_7 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Ellipse_1 {
  width: 70.00000000000011px;
  height: 62.00000000000006px;
  min-height: 62.00000000000006px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/43871567-a109-4d06-a9b9-28be94ce4a19.jpg');
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Path_11 {
  position: absolute;
  width: 42.888710021972656px;
  height: 35.949241638183594px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Path_63 {
  position: absolute;
  width: 29.459976196289062px;
  height: 38.4267692565918px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_3 {
  position: absolute;
  width: 199.9999999999999px;
  min-height: 277.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Image_1 {
  position: absolute;
  width: 199.9999999999996px;
  height: 206.00000000000009px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_4 {
  position: absolute;
  width: 199.9999999999999px;
  min-height: 277.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Image_2 {
  position: absolute;
  width: 199.99999999999966px;
  height: 205.99999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_5 {
  position: absolute;
  width: 199.9999999999999px;
  min-height: 277.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Image_3 {
  position: absolute;
  width: 199.99999999999966px;
  height: 206.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_6 {
  position: absolute;
  width: 199.9999999999999px;
  min-height: 277.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Image_4 {
  position: absolute;
  width: 199.99999999999977px;
  height: 206.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_7 {
  position: absolute;
  width: 138.0553436279298px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #00BCD4;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_2 {
  position: absolute;
  width: 81.84375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_5 {
  position: absolute;
  width: 81.84375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_6 {
  position: absolute;
  width: 81.84375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_7 {
  position: absolute;
  width: 124.84374999999994px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_8 {
  position: absolute;
  width: 156.84375000000003px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_9 {
  position: absolute;
  width: 152.84374999999994px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_10 {
  position: absolute;
  width: 156.8437499999999px;
  min-height: 35.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_8 {
  position: absolute;
  width: 407.9999999999998px;
  min-height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #00BCD4;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Ellipse_2 {
  width: 68.58951568603484px;
  height: 33.000000000000455px;
  min-height: 33.000000000000455px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/f4330f0d-43f0-4e64-a360-8cd94828f88d.png');
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Ellipse_3 {
  width: 62.86653137206997px;
  height: 37.00000000000023px;
  min-height: 37.00000000000023px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_3 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/60626eea-5241-4ddd-9b5d-8481a134b466.png');
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Ellipse_4 {
  width: 62.866531372070085px;
  height: 34.000000000000455px;
  min-height: 34.000000000000455px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_4 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/e8471dc9-6169-4a19-b1cb-07d6e3cf6d62.png');
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_9 {
  position: absolute;
  width: 126.0553436279298px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #00BCD4;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_10 {
  position: absolute;
  width: 69.97771453857428px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #00BCD4;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-afe03c47-3907-48f9-a0c0-443f24945cdb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}